@using ExpenseTracker.Data

<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <span class="oi oi-home" aria-hidden="true"></span> Home
        </NavLink>
        <NavLink class="nav-link" href="categories" Match="NavLinkMatch.All">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Categories
        </NavLink>
        <NavLink class="nav-link" href="expenses" Match="NavLinkMatch.All">
            <span class="oi oi-check" aria-hidden="true"></span> Expenses
        </NavLink>
        <NavLink class="nav-link" href="todo" Match="NavLinkMatch.All">
            <span class="oi oi-check" aria-hidden="true"></span> ToDo
        </NavLink>

    </div>
</nav>

@code {

}
