@page "/todo"

<NavMenu />
<h1>@Titlu</h1>

<input @bind="newTask" placeholder="" />
<button @onclick="AddTask">Add</button>

<ul>
    @foreach (var task in tasks)
    {
        <li>@task</li>
    }
</ul>

@code {
    private string Titlu = "To Do";

    private string newTask = "";
    private List<string> tasks = new();


    private void AddTask()
    {
        if (this.newTask != "")
        {
            tasks.Add(newTask);
            newTask = "";
        }
    }
}
